<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>CKD</title>
<style>
body {
    
background: linear-gradient(
                     rgba(10,10,10, .35), 
                     rgba(10,10,10, .105)),
                     url(https://www.shutterstock.com/image-photo/concept-world-kidney-day-handcraft-paper-1923158732);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


.container {
  border: 2px solid #ccc;
  padding: 10px;
  width: 20em;
height:21em;
background-color:white;
}


.hello{
opacity: 0.5;
}
</style>
</head>

<body>
<h1>app.py</h1>
<center><p style="font-size:50px;color:GREEN;">PREDICTION OF CHRONIC KIDNEY DISEASES</p></center>
<form action="/val" method="post"><center>
  <label for="age"><p style="font-size:20px;color:black;"><strong>AGE</strong></label><br>
  <input type="text" id="age" name="age"><br><br><br>


    <label for="bp"><strong>BLOOD PRESSURE</strong></label><br>
  <input type="text" id="bp" name="bp">
<br>
<br>
<br>
  <label for="sg"><strong>URINARY SPECIFIC GRAVITY(SG)</strong></label><br>
  <input type="text" id="sg" name="sg">
<br>
<br>
<br>
  <label for="al"><strong>ALBUMIN</strong></label><br>
  <input type="text" id="al" name="al">
<br>
<br>
<br>
  <label for="su"><strong>SUGAR</strong></label><br>
  <input type="text" id="su" name="su">
<br>
<br>
<br>
  <label for="rbc"><strong>RED BLOOD CELLS</strong></label><br>
  <input type="text" id="rbc" name="rbc">
<br>
<br>
<br>
  <label for="pc"><strong>PUS CELL</strong></label><br>
  <input type="text" id="pc" name="pc">
<br>
<br>
<br>
  <label for="pcc"><strong>PUS CELL CLUMPS</strong></label><br>
  <input type="text" id="pcc" name="pcc">
<br>
<br>
<br>
  <label for="ba"><strong>BACTERIA</strong></label><br>
  <input type="text" id="ba" name="ba">
<br>
<br>
<br>
  <label for="bgr"><strong>BLOOD GLUCOSE RANDOM</strong></label><br>
  <input type="text" id="bgr" name="bgr">
<br>
<br>
<br>
  <label for="bu"><strong>BLOOD UREA</strong></label><br>
  <input type="text" id="bu" name="bu">
<br>
<br>
<br>
  <label for="sc"><strong>SERUM CREATININE</strong></label><br>
  <input type="text" id="sc" name="sc">
<br>
<br><br>
  <label for="sod"><strong>SODIUM</strong></label><br>
  <input type="text" id="sod" name="sod">
<br>
<br>
<br>
  <label for="pot"><strong>POTASSIUM</strong></label><br>
  <input type="text" id="pot" name="pot">
<br>
<br>
<br>
  <label for="hemo"><strong>HEMOGLOBIN</strong></label><br>
  <input type="text" id="hemo" name="hemo">
<br>
<br>
<br>
  <label for="pcv"><strong>PACKED CELL VOLUME</strong></label><br>
  <input type="text" id="pcv" name="pcv">
<br>
<br>
<br>
  <label for="wc"><strong>WHITE BLOOD CELL COUNT</strong></label><br>
  <input type="text" id="wc" name="wc">
<br>
<br>
<br>
  <label for="rc"><strong>RED BLOOD CELL COUNT</strong></label><br>
  <input type="text" id="rc" name="rc">
<br>
<br>
<br>
  <label for="htn"><strong>HYPERTENSION</strong></label><br>
  <input type="text" id="htn" name="htn">
<br>
<br>
<br>
  <label for="dm"><strong>DIABETESMELLITUS</strong></label><br>
  <input type="text" id="dm" name="dm">
<br>
<br>
<br>
  <label for="cad"><strong>CORONARY ARTERY DISEASE</strong></label><br>
  <input type="text" id="cad" name="cad">
<br>
<br>
<br>
  <label for="appet"><strong>APPETITE</strong></label><br>
  <input type="text" id="appet" name="appet">
<br>
<br>
<br>
  <label for="pe"><strong>PEDAL EDEMA</strong></label><br>
  <input type="text" id="pe" name="pe">
<br>
<br>
<br>
  <label for="ane"><strong>ANEMIA</strong></label><br>
  <input type="text" id="ane" name="ane">
<br>
<br></center>
  <center><strong><button type="submit">PREDICT</button></center></strong>
</form>
</body>
</html>
